---
page_title: "Provider: Mreg"
subcategory: ""
description: |-
  The Mreg provider provides resources to interact with [Mreg](https://github.com/unioslo/mreg/) through the API.
---

# Mreg Provider

The Mreg provider provides resources to interact with [Mreg](https://github.com/unioslo/mreg/) through the API.

## Example usage

    provider "mreg" {
        serverurl = "https://mreg.example.com/"
        token     = "1234567890ABCDEF"    # substitute with your actual access token
    }

### Required configuration options

- **serverurl** (String)
- **token** (String, Sensitive)
